<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <h1>This is the Home Page Of Rhythm's Portfolio
         <%=231 +352 %> <%=["rhythm","Sarthak","satyam"][0]%>
    </h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum facilis numquam, provident eaque quam quidem incidunt aliquam id, laboriosam vitae magni quisquam, ullam labore eveniet ipsam est. Numquam aperiam explicabo asperiores dolor expedita neque officia ut, quidem nesciunt repudiandae, nisi tempore quas. Assumenda deserunt quaerat mollitia dicta atque tenetur aperiam veritatis nisi. Deserunt, eum eius. Exercitationem labore eligendi saepe earum temporibus eos vel mollitia necessitatibus consequatur cupiditate eveniet beatae accusamus doloremque, voluptatibus unde sequi, velit facilis placeat, hic alias distinctio. Voluptatum odit quod corporis officiis animi autem earum, nobis atque, aspernatur veritatis voluptate, sed consequatur perspiciatis quasi a? Ducimus, dolorum.</p>
    
    <button>submit</button>
</body>
</html>