<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>Click on the refresh button to roll the dice</h1>
    <h2>The dice gave value <%= diceVal%></h2>

    <%if(diceVal == 6){%>
        <h2>Nice Roll dice again</h2>
    <%}%>

   


    
</body>
</html>