<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form </title>
</head>
<body>
    <h2>Edit Your form</h2>
    <p>Post id :<%=post.id%></p>
    <p>Post Username :<%=post.username%></p>


    <form method = "post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea name = "content" rows = "10" cols="35"> <%=post.content%></textarea>
        <br>
        <button>Submit</button>
    </form>
    
</body>
</html>