<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Post</title>
</head>
<body>
    <form method="post" action ="/posts">
<!-- this line means that ham log post request bhejna chahte hai /posts pe  -->
        <input placeholder="Write your name" name ="username">
        <br>
        <br>
        <textarea  placeholder="Write your post" name = "content"></textarea>
        <br>
        <button>Submit post</button>
        <br>
    </form>
    
</body>
</html>